/* 
 * Specific style for blog posts,
 * this is still work in progress.
*/
img{
  max-width: 100%;
}

.header {
  margin-top: 30px;
}

.disclaimer {
  margin-bottom: 15px;
  opacity: 0.7;
}

pre.sourceCode {
  background-color: rgba(0, 82, 255, 0.1);
  padding: 10px;
}

.stdout {
  background-color: rgba(49, 239, 0, 0.1);
  padding: 10px;
  margin-bottom: 15px;
}

.author {
  background-color: rgba(255, 248, 144, 0.8);
  padding-left: 5px;
  padding-right: 5px;
}

#signature{
  margin-top: 30px;
  margin-bottom: 30px
}

@media (prefers-color-scheme: dark) {
  .author {
    background-color: #f9f7d9;
    color: #222831;
  }
  .back {
    color: #eeeeee;
  }
}
