/*
 * General style for the homepage,
 * some of this may be inherited
 * by the blog posts.
 */

body{
  font-family: 'Source Serif Pro', serif;
}

.container{
  background-color: white;
  padding: 40px;
  width: 100%;
}

.header {
  margin-top: 30px;
}

h1,h2 {
  margin-top: 20px;
}

p {
  margin-top: 20px;
  line-height: 200%;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: #24367e;
}

a:hover {
  text-decoration: none;
}

.highlight {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #cdeedd;
  font-weight: 700;
}

.navbar-light {
  background-color: rgba(255,255,255,0.8);
}

/*
 * Dark mode
 * https://colorhunt.co/palette/136567
 * + #f7d6bf
 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #222831;
    color: #eeeeee;
  }
  .container{
    background-color: #222831;
  }
  .navbar-light {
    background-color: #222831;
    color: #eeeeee;
  }
  a {
    color: #cdeedd;
  }
  a:hover {
    color: #cdeedd;
  }
  .highlight {
    background-color: #cdeedd;
    color: #222831;
  }
  .highlight:hover {
    background-color: #cdeedd;
    color: #222831;
  }
  .fab, .fas {
    color: #eeeeee;
  }
}
